<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezcoding.account.module.management.dao.DepartmentMapper">

    <select id="listRolesByDepartment" resultType="com.ezcoding.account.module.management.bean.model.Role">
        select
            ar.id,
            ar.code,
            ar.name,
            ar.comment,
            ar.creator,
            ar.create_time,
            ar.modifier,
            ar.modify_time,
            ar.status
        from
            account_role ar
            left join account_group_role agr on ar.id = agr.role_id
            left join account_department ad on agr.group_id = ad.group_id
        where
            ad.id in
            <foreach collection="departmentIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </select>

    <select id="findDepartmentByUser"
            resultType="com.ezcoding.account.module.management.bean.model.Department">
        select
            ad.id,
            ad.parent_id,
            ad.name,
            ad.comment,
            ad.level,
            ad.is_leaf,
            ad.path,
            ad.status,
            ad.group_id,
            ad.creator,
            ad.create_time,
            ad.modifier,
            ad.modify_time
        from
            account_department ad
            left join account_user_department aud on ad.id = aud.department_id
        where
            aud.user_id = #{userId}
    </select>

</mapper>